;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed May  1 20:59:49 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name "/home/raghu/Academics/Algorithms/Assigments/TAGS")
(setq tags-table-list '("/home/raghu/Academics/Algorithms/Assigments/TAGS"))
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist '((48 . "#define INFINITY (unsigned int )(100000)\n")))
(setq file-name-history '("/home/raghu/Academics/Algorithms/Assigments/FibHeap/src/../include/fibonacciheap.h" "/home/raghu/Academics/Algorithms/Assigments/Graph/src/../../FibHeap/src/fibonacciheap.cpp" "/home/raghu/Academics/Algorithms/Assigments/Graph/include/../src/johnson.cpp" "/root/test.org" "/home/raghu/Academics/Algorithms/Assigments/" "/home/raghu/Academics/Algorithms/Assigments/Graph/include/../src/johnson.cpp" "/home/raghu/Academics/Algorithms/Assigments/Graph/include/johnson.h" "/home/raghu/Academics/Algorithms/Assigments/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/Graph/src/johnson.cpp"
  "johnson.cpp"
  'c++-mode
  '(abbrev-mode auto-complete-mode)
  3515
  '(902 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/Graph/include/dgraph.h"
  "dgraph.h"
  'c-mode
  '(abbrev-mode auto-complete-mode)
  1256
  '(1038 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/Graph/include/johnson.h"
  "johnson.h"
  'c-mode
  '(abbrev-mode auto-complete-mode)
  190
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/Graph/src/dgraph.cpp"
  "dgraph.cpp"
  'c++-mode
  '(abbrev-mode auto-complete-mode)
  2077
  '(1864 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/FibHeap/src/fibonacciheap.cpp"
  "fibonacciheap.cpp"
  'c++-mode
  '(abbrev-mode auto-complete-mode)
  631
  '(574 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/Graph/src/dijkastra.cpp"
  "dijkastra.cpp"
  'c++-mode
  '(abbrev-mode auto-complete-mode)
  73
  '(73 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/Graph/include/dijkastra.h"
  "dijkastra.h"
  'c-mode
  '(abbrev-mode auto-complete-mode)
  135
  '(94 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/Graph/include/bellmanford.h"
  "bellmanford.h"
  'c-mode
  '(abbrev-mode auto-complete-mode)
  112
  '(71 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/Graph/src/bellmanford.cpp"
  "bellmanford.cpp"
  'c++-mode
  '(abbrev-mode auto-complete-mode)
  95
  '(95 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/FibHeap/include/fibonacciheap.h"
  "fibonacciheap.h"
  'c-mode
  '(abbrev-mode auto-complete-mode)
  650
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/raghu/Academics/Algorithms/Assigments/Graph/include/graph.h"
  "graph.h"
  'c-mode
  '(abbrev-mode auto-complete-mode)
  347
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

